<!DOCTYPE html>
<html>
  <head>
    <title>MGC</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'gig_manager' %>
    <%= stylesheet_pack_tag 'gig_manager_stylesheet' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
